{% extends 'base.html.twig' %}

{% block title %}New Ride{% endblock %}

{% block body %}
    <h1>Create new Ride</h1>

    {{ include('ride/_form.html.twig') }}

    <a href="{{ path('ride_index') }}">back to list</a>
{% endblock %}
